* { font-family: 'Signika', sans-serif;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: url(../imagenes/chorro1.png) #F1DFC9 no-repeat 100% 0%;
}

.madre {
   display: flex; flex-flow: column nowrap;
}

.whatsapp {
  position: fixed;
  align-self: flex-end;
}


.header{
  display: flex;
  justify-content: center;
  width: 100%;
}

.titulo {
  background: #E8C07D;
  border-radius: 2vh;
  flex: 8 1 auto;
}

  h1 {font-family: 'Fredoka One'; font-size: 5em;
    color: #614124; background: #CC704B; border-radius: 10px;
    text-align: center;
}
  h1:hover {
    color: white;
  }

.audio {display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-end;
}
.textoaudio {font-size: 80%; font-variant: small-caps;}

.intro {
  width: 87%;
  display: flex;
  align-items: center;
  }

.epigrafe {
  display: flex;
  flex-direction: column;
  flex: 8 1 auto;
  text-align: center;
}

.mousse {
  font-family: 'Boogaloo', cursive;
  font-weight: bolder;
}
.mousse:hover {
  color: #784212;
}

h4 {
  font-family: inherit;
}
h2 {
  border-style: outset;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Boogaloo', cursive;
  font-size: 170%;
  display: flex; justify-content: center; align-self: center;
}
.mode {
  border-radius: 20px;
}
.quesera {
  width: 15%;
  align-self: center;
  border-radius: 20px;
}
.centro:hover {color: #784212;}

.video {
  display: flex;
  flex: 1 1 auto;
}

.central {
  display: flex;
  justify-content: space-around;
}

.receta {
  background: #784212;
  border-style: double;
  border-radius: 10px;
  width: 100%;
  display: flex;
}

.fotos {
  width: 100%;
}

 .texto {
   color: white;
 }

h2 {
  font-family: 'Boogaloo', cursive;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.ingredientes:hover {
   background: white;
   color: #000;
 }
.pasos:hover {
   background: white;
   color: #000;
 }

.datos {
  border-radius: 10px;
  width: 25%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.recetasbootstrap {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 500ms ease-out;
}

.card {
  transition: all 500ms ease-out;
}

.card:hover {
 transform: scale(1.1,1.1);
}

.sociales {
  display: flex;
  justify-content: space-around;
}

.recetasbootstrap {
  display: flex;
  justify-content: space-between;
}
.card {
  color: black;
}

.card-text {
  font-size: 5%;
}

/* VERSION MOVIL */

@media (min-width: 700px) {
  .otrasmovil {display: none;}
  .header {width: 100%}
}

@media (max-width: 699px)  {
  .audio {display: none;}
  .imgcompu {display: none;}
  .datos {display: none;}
  .video {display: none;}
  .receta { display: flex; flex-direction: column;}
  /* .centro {background: white} */
}
